.load{
    // animation: loads 2s ease-in-out infinite;
    margin:auto;
    font-size: larger;
    animation: movement 4s  infinite;
    border-radius: 50%;
    padding: 10px;
}

@keyframes movement {
    from{
        opacity: 2%;
    }
    to{
        opacity: 100%;
    }
}