.load{
    // animation: loads 2s ease-in-out infinite;
    margin:auto;
    font-size: larger;
    border-radius: 50%;
    padding: 10px;
    img{
        max-width: 80px;
    }
}

@keyframes movement {
    from{
        opacity: 2%;
    }
    to{
        opacity: 100%;
    }
}

@media screen and (max-width: 400px) {
  .load{
      img{
          max-width: 60px;
      }
  }
}