.load{
    animation: animate 5s ease-in-out 2;
    margin:auto;
    font-size: larger;
    border-radius: 50%;
    padding: 10px;
    img{
        max-width: 80px;
    }
}

@keyframes animate {
    from{
        opacity: 10%;
    }
    to{
        opacity: 100%;
    }
}

@media screen and (max-width: 400px) {
  .load{
      img{
          max-width: 60px;
      }
  }
}