@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');

.about-head{
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}
.textt{
  font-family:'Roboto', sans-serif;
  line-height: 30px;
  word-spacing: 2px;
  font-size: 23px;
}
.about2{
  font-family: 'Roboto', sans-serif;
}


@media screen and (max-width:400px) {
  .textt{
    line-height: 25px;
    font-size: 20px;
  }
}
  