.load{
   
    font-size: larger;
    animation: movement 4s  infinite;
    border-radius: 50%;
   
}

@keyframes movement {
    from{
        opacity: 2%;
    }
    to{
        opacity: 100%;
    }
}