.projects-ojas{
    // background-color: rgb(8, 8, 8);
    background-image: url(/images/bgg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.project-ojas{
    min-height: 600px;
}