@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');
.header {
  position: fixed;
  top: 0;
  background-color: rgba(13, 13, 14, 0.1);
  margin: auto;
  min-height: 80px;
  font-family: 'Archivo', sans-serif;
  .logo {
    img {
      max-width: 1.8em;
    }
  }
}