.events {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-width: 1250px;
    min-height: 69vh;
    // background-image: linear-gradient(rgba(39, 32, 2, 0.3), rgba(15, 34, 77, 0.3));
    
  background-image: linear-gradient( rgba(39, 32, 2, 0.2),rgba(15, 34, 77, 0.2));
    margin: 40px auto;
}
.eve{
    justify-content: center;
}